<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>HB Klient</title>
	<meta name="description" content=" !!! Opis"> 
	<meta name="keywords" content=" !!! Keywords">
	<meta name="author" content="SJM">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<link rel="stylesheet" href="../static/style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="img/QIS.png">
	
	
</head>
<body>
	
	<div id="container">
		<a href="#" class="scrollup"></a>
		<header>
			<h1 class="logo"><a href="#" style="color:#f1e4b3;">KLIENT</a></h1>
		</header>
		
		
			
		<div class="client">
				<div class="menu">
					<nav>
						<ul>
							<li><a href="twojprofil.html" id="menulink1">Raport</a></li>
							<li><a href="employee.html" id="menulink3">Pracownik</a></li>
							<li><a href="bonus.html" id="menulink4">Bonus</a></li>
							<li><a href="index.html" id="menulink2">Wyloguj się</a></li>
						</ul>
					</nav>
				</div>
				<div style="clear:both;"></div>
		
	
	
			<div class="raportcontainer">
				<h1>Spis clientow +  ? dodawanie clientow ?</h1>
				
				<form action="api/clients" method="post">
					<br/>
					<h3>Dodaj Klienta</h3>
					<input class="logintextbox" type="text" name="clientName">
					<br/><br/>
					<input class="submitbutton" type="submit" value="Dodaj"><br/>
				</form>
			</div>
			
			
		</div>	
	</div>

</body>
</html>