<!DOCTYPE HTML >
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>HB Rejestracja</title>
    <meta name="description" content=" !!! Opis"/>
    <meta name="keywords" content=" !!! Keywords"/>
    <meta name="author" content="SJM"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="img/QIS.png"/>
</head>

<body>

<div class="containerregisterbox">
    <div class="registerbox">
        <form action="#" th:action="@{/set_password}" th:object="${dto}" th:method="put">

            <input th:value="${dto.uuid}" type="text" id="uuid" name="uuid" th:hidden="true"/>
            <h3>Password</h3>
            <input type="password" th:field="*{password}"/>
            <h3>Repeat Password</h3>
            <input type="password" th:field="*{repeatPassword}"/><br/>

            <br/>
            <br/><br/>

            <input class="submitbutton" type="submit" value="Set Password"/>
        </form>
    </div>
</div>
</body>
</html>
